.residency-heading{
    margin-top: 120px;
    margin-left: 73px;
}
.residency-heading h2{
    font-size: 33px;
    color: #ff922d;
}
.residency-heading h1{
    font-size: 43px;
    color: var(--blue);
}
.residency-images{
    display: flex;
    gap: 2rem;
     margin-top: 80px;
}
.img>img{
    width: 360px;
    padding-left: 12px;

}
.residency-images>:nth-child(1){
    margin-left: 120px;
}
.price{
    font-size: 35px;
    padding-left: 12px;

}
.price>span{
    color: #ff922d;
}
.card-heading{
    font-size: 37px;
    color: var(--blue);
    padding-left: 12px;

}
.card-para{
    width: 349px;
    opacity: 0.6;
    padding-left: 12px;

}

@media screen and (max-width:480px){
    .residency2{
        display: none;
    }
    .value-right{
        margin-top: -100px;
    }
.residency-heading h2{
    font-size: 23px;
    justify-content: center;
    display: flex;
    margin-left: -76px;

}
.residency-heading h1{
    font-size: 22px;
    justify-content: center;
    display: flex;
    margin-left: -76px;

}
.residency-images{
    display: flex;
    flex-direction: column;
    margin-left: -87px;
}
.r4{
    margin-left:117px
}
.r2{
    margin-left:117px
}
.r3{
    margin-left:117px
}
.img>img{
    width: 300px;
}
.card-heading{
    font-size: 28px;
}
.card-para{
    width: 320px;
    margin-bottom: -74px;
}
}