.footer-logo{
    margin-left: 71px;
    margin-top: 81px;
}
.footer-para{
    margin-left: 60px;
    width: 350px;
    font-size: 18px;
    margin-top: 14px;
}
.footer-information{
    margin-top: -140px;
    margin-right: 40px;
}
.footer-heading{
    display: flex;
    justify-content: flex-end;
    font-size: 42px;
    margin-right: 142px;
    color: #1f3e72;
    font-weight: 900;

    
}.footer-heading2{
    display: flex;
    justify-content: flex-end;
    margin-right: 174px;
    font-size: 20px;
    color: #8c8b8b;
}
.footer-service{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 22px;
    font-weight: 900;
}
.footer-service>li{
    padding: 12px;
}
@media screen and (max-width:480px){
    .footer-information{
        margin-top: 60px;
    }
        .footer-heading{
            margin-left: 57px;
            display: block;
    }
        .footer-heading2{
            margin-left: 57px;
            display: block;
            width: 36rem;
        
    }
    .footer-service{
        font-size: 13px;
    }
    .footer-para{
    margin-left: 26px;
    }
}